

a {
  text-decoration: none !important;
}

.navbar a {
  color: #fff !important;
}

.navbar-nav li {
  margin: 0 .6rem !important;
}

input, select {
  box-shadow: none !important;
}

.img-fluid {
  height: 100% !important;
  width: 100% !important;
}

.pointer {
  cursor: pointer;
}